# dependencies
node_modules
.pnpm-store

# build
.next
dist
coverage

# env
.env
.env.local
.env.*.local

# logs
*.log
logs
pnpm-debug.log*

# deployment/runtime
backups
*.bak_*

# OS / editors
.DS_Store
Thumbs.db
.idea
.vscode

# uploads
uploads
